@charset "utf-8";
/* portfolio CSS Document */

/*font from google fonts*/
@import url('https://fonts.googleapis.com/css?family=Montserrat|Poppins');

@import url('https://fonts.googleapis.com/css?family=Roboto:100,200');


body {
	background-color: black;
	margin: 0px 100px;

}

.container {
	background-color: #101418;
	/*border: 1px solid rgba(228,9,13,1.00);*/
	display: grid;
	height: 800px;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: 130px auto 100px;
	grid-template-areas: 
		"h h h h h h h h"
		"m m m m m m m s"
		"f f f f f f f f";
}

.header {
	color: white;
	background-color: black;
	text-align: center;
	grid-area: h;
}

.main {
	margin-top: 20px;
	margin-bottom: 20px;
	/*border: 1px solid rgba(228,9,13,1.00);*/
	color: white;
	background-color: #101418;
	grid-area: m;
	
	display: flex;
	flex-direction: row;
	align-content: space-between;
}

.frame{
	/*border: 1px solid rgba(228,9,13,1.00);*/
	color: white;
	background-color: #373737;
	margin: 10px;
	width: 300px;
	height: 390px;
	
	
}

.box{
	display: flex;
	flex-direction: column;
}

.box > img {
	align-self: center;
}

h3 {
	margin: 0px;
	align: left;
	padding: 15px 25px 0px 25px;
	font-size: 25px;
	font-family: 'Roboto', sans-serif;
	color: #ff5400;
}

h4 {
	margin: 0px;
	align: left;
	padding: 0px 25px 0px 25px;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	color: #101418;
}





.sidebar {
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #101418;
	grid-area: s;
	
	display: grid;
	grid-template-columns: 1px 300px;
	grid-template-rows: repeat(5, auto);
	
}

h2 {
	margin: 0px;
	align: top;
	padding: 0px 0px 0px 25px;
	font-size: 25px;
	font-family: 'Roboto', sans-serif; 
}

p {
	margin: 0px;
	align: top;
	padding: 0px 0px 0px 25px;
	font-size: 15px;
	font-family: sans-serif;
	color: #373737;
}

.solid1 {
	background: #fff000;
}

.menu1 {
	color: #fff000;
	background-color: #101418;
}

.solid2 {
	background-color: #ff0078;
}

.menu2 {
	color: #ff0078;
	background-color: #101418;
}

.solid3 {
	background-color: #ff5400;
}

.menu3 {
	color: #ff5400;
	background-color: #101418;
}

.solid4 {
	background: #00ff0c;
}

.menu4 {
	color: #00ff0c;
	background-color: #101418;
}

.solid5 {
	background: #0054ff;
}

.menu5 {
	color: #0054ff;
	background-color: #101418;
}

.footer {
	color: #373737;
	background-color: black;
	grid-area: f;
	
	margin: 0px;
	align: top;
	padding: 5px 0px 0px 0px;
	font-size: 15px;
	font-family: sans-serif;
	font-style: bold;
}

