@charset "utf-8";
/* portfolio CSS Document */

/*font from google fonts*/
@import url('https://fonts.googleapis.com/css?family=Montserrat|Poppins');

@import url('https://fonts.googleapis.com/css?family=Roboto:100');


body {
	background-color: black;
	margin: 0px 100px;
	
}

.container {
	background-color: #101418;
	/*border: 1px solid rgba(228,9,13,1.00);*/
	display: grid;
	height: 800px;
	grid-template-columns: repeat (12, 1fr);
	grid-template-rows: 150px auto 120px;
	grid-template-areas: 
		"h h h h h h h h h h h h"
		"m m m m m m m m m s s s"
		"f f f f f f f f f f f f";
}

.header {
	color: white;
	background-color: black;
	text-align: center;
	grid-area: h;
}

.main {
	border: 1px solid rgba(228,9,13,1.00);
	margin-top: 20px;
	margin-bottom: 20px;
	color: white;
	background-color: #101418;
	grid-area: m;
	
}

.frame{
	color: white;
	background-color: #ff5400;
	width: 200px;
	height: 300px;
	float: left;
}

.sidebar {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 0px;
	color: white;
	background-color: #ff5400;
	grid-area: s;
	
	display: grid;
	grid-template-columns: 6px auto;
	grid-template-rows: auto auto;
}

h2 {
	margin: 0px;
	align: top;
	padding: 0px 0px 0px 25px;
	/*border: 1px solid rgba(228,9,13,1.00);*/
	font-size: 25px;
	font-family: 'Roboto', sans-serif; 
}

p {
	margin: 0px;
	align: top;
	padding: 0px 25px 0px 25px;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	color: #373737;
}

.solid1 {
	background: #fff000;
}

.menu1 {
	color: #fff000;
	background-color: #101418;
}

.solid2 {
	background-color: #ff0078;
}

.menu2 {
	color: #ff0078;
	background-color: #101418;
}

.solid3 {
	background-color: #ff5400;
}

.menu3 {
	color: #ff5400;
	background-color: #101418;
}

.solid4 {
	background: #00ff0c;
}

.menu4 {
	color: #00ff0c;
	background-color: #101418;
}

.solid5 {
	background: #0054ff;
}

.menu5 {
	color: #0054ff;
	background-color: #101418;
}

.footer {
	color: white;
	background-color: black;
	grid-area: f;
}

